/* line 6, /Users/arnaudagbo/Desktop/DEV/RUBY/animation/app/assets/stylesheets/welcome.scss */
fieldset {
  width: 100%;
}

/* line 10, /Users/arnaudagbo/Desktop/DEV/RUBY/animation/app/assets/stylesheets/welcome.scss */
a {
  text-decoration: none;
  color: black;
  margin: 0 15px 0 15px;
}

/* line 16, /Users/arnaudagbo/Desktop/DEV/RUBY/animation/app/assets/stylesheets/welcome.scss */
#bloc-presentation {
  display: block;
}

/* line 19, /Users/arnaudagbo/Desktop/DEV/RUBY/animation/app/assets/stylesheets/welcome.scss */
#bloc-menu {
  display: none;
}

/* line 22, /Users/arnaudagbo/Desktop/DEV/RUBY/animation/app/assets/stylesheets/welcome.scss */
#bloc-biboo {
  display: none;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

