

<div class="container">
  <div class="header">
    <div class="title">
      <h1>KIKOO BIBOO</h1>
      <h2>Appuies sur les boutons </h2>
      <h2>De gauche à droite ( la gauche c'est la ou la phrase commence )</h2>
    </div>
    <div class="buttons">
      <button id="button1"><h3>Présentation</h3></button>
      <button id="button2"><h3>Menu</h3></button>
      <button id="button3"><h3>Contact</h3></button>
    </div>
  </div>

  <div class="content">
    <div id="cont1">
      <p id="text1">BIBOO</p>
    </div><br>
    <div id="cont2">
      <p id="text2">JE</p>
    </div><br>
    <div id="cont3">
      <p id="text3">T'AIME</p>
    </div>
  </div>
</div>

